<h1>Hello From Rails!!!</h1>
<h2>Black Jack!!!</h2>
<p>

it is now <%= Time.now%> <br>
it is now <%= @time%> *testing with @time* </p>

<p>its time to say  <%= link_to "Goodbye", say_goodbye_path %> </p>

<p>Find me in app/views/say/hello.html.erb</p>

